APP_NAME=GuacPanel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_URL=http://guacpanel-docs.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
VITE_APP_CHUNK_OUTPUT=false

SCOUT_DRIVER=null
TYPESENSE_API_KEY=
TYPESENSE_HOST=localhost
TYPESENSE_SEARCH_ONLY_KEY=

APP_DESCRIPTION='A lightweight, customizable admin dashboard built with Laravel, Inertia, Vue, and Tailwind CSS.'
APP_KEYWORDS='Laravel, Inertia.js, Vue.js, Tailwind CSS, Admin Dashboard, SaaS'
APP_AUTHOR='Your Name'
APP_THEME_COLOR='#3B82F6'

SEED_SUPER_ADMIN_USER_ENABLED=true
SEED_SUPER_ADMIN_USER_NAME=Ota
SEED_SUPER_ADMIN_USER_EMAIL=ota@example.com
SEED_SUPER_ADMIN_USER_PASSWORD=password

SEED_REGULAR_USER_ENABLED=true
SEED_REGULAR_USER_NAME='Regular User'
SEED_REGULAR_USER_EMAIL=user@example.com
SEED_REGULAR_USER_PASSWORD=password

USER_DEACTIVATE_ACCOUNT_ENABLED=true
USER_DELETE_ACCOUNT_ENABLED=true

HEALTH_NOTIFICATIONS_MAIL_TO=
HEALTH_SLACK_WEBHOOK_URL=

GOOGLE_ENABLED=false
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT=${APP_URL}/auth/social/google/callback

FACEBOOK_ENABLED=false
FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
FACEBOOK_REDIRECT=${APP_URL}/auth/social/facebook/callback

GITHUB_ENABLED=false
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_REDIRECT=${APP_URL}/auth/social/github/callback

LINKEDIN_ENABLED=false
LINKEDIN_CLIENT_ID=your-linkedin-client-id
LINKEDIN_SECRET=your-linkedin-client-secret
LINKEDIN_REDIRECT=${APP_URL}/auth/social/linkedin/callback
